Repository automationjp/laws_doc, changes with the labels that .github/labeler.yml gives for each.
All labels: ñ@óﬂAPI, ñ@óﬂèï∂, README

.github/labeler.yml:

ñ@óﬂAPI:
- data/*
- data/*/*
- data/*/*/*
- data/*/*/*/*

ñ@óﬂèï∂:
- doc/*
- doc/*/*
- doc/*/*/*
- doc/*/*/*/*

README:
- README.md

原子力基本法（昭和三十年法律第百八十六号）
  doc/330AC1000000186/原子力基本法（昭和三十年法律第百八十六号）.txt
Labels: ñ@óﬂèï∂

Update 原子力基本法（昭和三十年法律第百八十六号）.txt
  doc/330AC1000000186/原子力基本法（昭和三十年法律第百八十六号）.txt
Labels: ñ@óﬂèï∂

Update 原子力基本法（昭和三十年法律第百八十六号）.txt
  doc/330AC1000000186/原子力基本法（昭和三十年法律第百八十六号）.txt
Labels: ñ@óﬂèï∂

Create README.md
  README.md
Labels: README

Create CNAME
  docs/CNAME
Labels: none

Delete CNAME
  docs/CNAME
Labels: none

Create CNAME
  docs/CNAME
Labels: none

Delete CNAME
  docs/CNAME
Labels: none

ディレクトリ構造変更
  doc/330AC1000000186/原子力基本法（昭和三十年法律第百八十六号）.txt
Labels: ñ@óﬂèï∂

330AC1000000186_20150801_000000000000000
  doc/330AC1000000186/330AC1000000186_20150801_000000000000000/330AC1000000186_20150801_000000000000000.txt
  doc/330AC1000000186/index.txt
Labels: ñ@óﬂèï∂

330AC1000000186_20230607_505AC0000000044
  doc/330AC1000000186/330AC1000000186_20230607_505AC0000000044/330AC1000000186_20230607_505AC0000000044.txt
Labels: ñ@óﬂèï∂

330AC1000000186_20250606_505AC0000000044
  doc/330AC1000000186/330AC1000000186_20250606_505AC0000000044/330AC1000000186_20250606_505AC0000000044.txt
Labels: ñ@óﬂèï∂

法令API Indexドキュメント
  doc/index.md
Labels: ñ@óﬂèï∂

doc→docsディレクトリ変更
  docs/330AC1000000186/330AC1000000186_20150801_000000000000000/330AC1000000186_20150801_000000000000000.txt
  docs/330AC1000000186/330AC1000000186_20230607_505AC0000000044/330AC1000000186_20230607_505AC0000000044.txt
  docs/330AC1000000186/330AC1000000186_20250606_505AC0000000044/330AC1000000186_20250606_505AC0000000044.txt
  docs/330AC1000000186/index.txt
  docs/index.md
Labels: none

Update README.md
  README.md
Labels: README

Update README.md
  README.md
Labels: README

Create CNAME
  docs/CNAME
Labels: none

一旦条文を削除
  docs/330AC1000000186/330AC1000000186_20150801_000000000000000/330AC1000000186_20150801_000000000000000.txt
  docs/330AC1000000186/330AC1000000186_20230607_505AC0000000044/330AC1000000186_20230607_505AC0000000044.txt
  docs/330AC1000000186/330AC1000000186_20250606_505AC0000000044/330AC1000000186_20250606_505AC0000000044.txt
  docs/330AC1000000186/index.txt
Labels: none

330AC1000000186_20150801_000000000000000
  docs/330AC1000000186/330AC1000000186_20150801_000000000000000/330AC1000000186_20150801_000000000000000.txt
  docs/330AC1000000186/index.txt
Labels: none

330AC1000000186_20230607_505AC0000000044
  docs/330AC1000000186/330AC1000000186_20230607_505AC0000000044/330AC1000000186_20230607_505AC0000000044.txt
Labels: none

330AC1000000186_20250606_505AC0000000044
  docs/330AC1000000186/330AC1000000186_20250606_505AC0000000044/330AC1000000186_20250606_505AC0000000044.txt
Labels: none

Update index.md
  docs/index.md
Labels: none

Update index.md
  docs/index.md
Labels: none

削除
  docs/330AC1000000186/330AC1000000186_20150801_000000000000000/330AC1000000186_20150801_000000000000000.txt
  docs/330AC1000000186/330AC1000000186_20230607_505AC0000000044/330AC1000000186_20230607_505AC0000000044.txt
  docs/330AC1000000186/330AC1000000186_20250606_505AC0000000044/330AC1000000186_20250606_505AC0000000044.txt
  docs/330AC1000000186/index.txt
Labels: none

make 330AC1000000186_20250606_505AC0000000044.txt
  data/330AC1000000186/330AC1000000186_20150801_000000000000000/330AC1000000186_20250606_505AC0000000044.txt
Labels: ñ@óﬂAPI

make 330AC1000000186_20230607_505AC0000000044.txt
  data/330AC1000000186/330AC1000000186_20230607_505AC0000000044/330AC1000000186_20230607_505AC0000000044.txt
Labels: ñ@óﬂAPI

誤りを修正
  data/330AC1000000186/330AC1000000186_20150801_000000000000000/330AC1000000186_20250606_505AC0000000044.txt
  data/330AC1000000186/330AC1000000186_20230607_505AC0000000044/330AC1000000186_20230607_505AC0000000044.txt
Labels: ñ@óﬂAPI

make 330AC1000000186_20150801_000000000000000.txt
  data/330AC1000000186/330AC1000000186_20150801_000000000000000/330AC1000000186_20150801_000000000000000.txt
Labels: ñ@óﬂAPI

make 330AC1000000186_20230607_505AC0000000044.txt
  data/330AC1000000186/330AC1000000186_20230607_505AC0000000044/330AC1000000186_20230607_505AC0000000044.txt
Labels: ñ@óﬂAPI

make 330AC1000000186_20250606_505AC0000000044.txt
  data/330AC1000000186/330AC1000000186_20250606_505AC0000000044/330AC1000000186_20250606_505AC0000000044.txt
Labels: ñ@óﬂAPI

inicial commit
  docs/330AC1000000186/index.txt
Labels: none

330AC1000000186_20230607_505AC0000000044
  docs/330AC1000000186/index.txt
Labels: none

330AC1000000186_20250606_505AC0000000044
  docs/330AC1000000186/index.txt
Labels: none

Update index.md
  docs/index.md
Labels: none

330AC1000000186_20150801_000000000000000
  docs/330AC1000000186/index.txt
Labels: none

330AC1000000186_20230607_505AC0000000044
  docs/330AC1000000186/index.txt
Labels: none

330AC1000000186_20250606_505AC0000000044
  docs/330AC1000000186/index.txt
Labels: none

332AC0000000166_20150801_000000000000000
  data/332AC0000000166/332AC0000000166_20150801_000000000000000/332AC0000000166_20150801_000000000000000.txt
  docs/332AC0000000166/index.txt
Labels: ñ@óﬂAPI

332AC0000000166_20160401_426AC0000000069
  data/332AC0000000166/332AC0000000166_20160401_426AC0000000069/332AC0000000166_20160401_426AC0000000069.txt
Labels: ñ@óﬂAPI

332AC0000000166_20170414_429AC0000000015
  data/332AC0000000166/332AC0000000166_20170414_429AC0000000015/332AC0000000166_20170414_429AC0000000015.txt
Labels: ñ@óﬂAPI
