Repository automationjp/laws_doc, changes with the labels that .github/labeler.yml gives for each.
All labels: ñ@óﬂAPI, ñ@óﬂèï∂, README

.github/labeler.yml:

ñ@óﬂAPI:
- data/*
- data/*/*
- data/*/*/*
- data/*/*/*/*

ñ@óﬂèï∂:
- doc/*
- doc/*/*
- doc/*/*/*
- doc/*/*/*/*

README:
- README.md

417AC0000000048_20160401_427AC0000000047
  data/417AC0000000048/417AC0000000048_20160401_427AC0000000047/417AC0000000048_20160401_427AC0000000047.txt
Labels: ñ@óﬂAPI

417AC0000000048_20161001_428AC0000000040
  data/417AC0000000048/417AC0000000048_20161001_428AC0000000040/417AC0000000048_20161001_428AC0000000040.txt
Labels: ñ@óﬂAPI

417AC0000000048_20220617_504AC0000000068
  data/417AC0000000048/417AC0000000048_20220617_504AC0000000068/417AC0000000048_20220617_504AC0000000068.txt
Labels: ñ@óﬂAPI

417AC0000000048_20230607_505AC0000000044
  data/417AC0000000048/417AC0000000048_20230607_505AC0000000044/417AC0000000048_20230607_505AC0000000044.txt
Labels: ñ@óﬂAPI

417AC0000000048_20240401_505AC0000000044
  data/417AC0000000048/417AC0000000048_20240401_505AC0000000044/417AC0000000048_20240401_505AC0000000044.txt
Labels: ñ@óﬂAPI

417AC0000000048_20250616_504AC0000000068
  data/417AC0000000048/417AC0000000048_20250616_504AC0000000068/417AC0000000048_20250616_504AC0000000068.txt
Labels: ñ@óﬂAPI

Update index.md
  docs/index.md
Labels: none

Update index.md
  docs/index.md
Labels: none

Update index.md
  docs/index.md
Labels: none

Update index.md
  docs/index.md
Labels: none

Update index.md
  docs/index.md
Labels: none

処理対象法令追加
  data/419M60400000005/419M60400000005_20161001_000000000000000/419M60400000005_20161001_000000000000000.json
  data/419M60400000005/419M60400000005_20161001_000000000000000/419M60400000005_20161001_000000000000000.xml
  data/419M60400000005/419M60400000005_20161001_000000000000000/pict/H19F30301000005-001.pdf
  data/419M60400000005/419M60400000005_20161001_000000000000000/pict/H19F30301000005-002.pdf
  data/419M60400000005/419M60400000005_20161001_000000000000000/pict/H19F30301000005-003.pdf
  data/419M60400000005/419M60400000005_20161001_000000000000000/pict/H19F30301000005-004.pdf
  data/419M60400000005/419M60400000005_20190701_501M60400000003/419M60400000005_20190701_501M60400000003.json
  data/419M60400000005/419M60400000005_20190701_501M60400000003/419M60400000005_20190701_501M60400000003.xml
  data/419M60400000005/419M60400000005_20190701_501M60400000003/pict/H19F30301000005_1907191607_001.pdf
  data/419M60400000005/419M60400000005_20190701_501M60400000003/pict/H19F30301000005_1907191607_002.pdf
  data/419M60400000005/419M60400000005_20190701_501M60400000003/pict/H19F30301000005_1907191607_003.pdf
  data/419M60400000005/419M60400000005_20190701_501M60400000003/pict/H19F30301000005_1907191607_004.pdf
  data/419M60400000005/419M60400000005_20201228_502M60400000013/419M60400000005_20201228_502M60400000013.json
  data/419M60400000005/419M60400000005_20201228_502M60400000013/419M60400000005_20201228_502M60400000013.xml
  data/419M60400000005/419M60400000005_20201228_502M60400000013/pict/H19F30301000005_2102031702_001.pdf
  data/419M60400000005/419M60400000005_20201228_502M60400000013/pict/H19F30301000005_2102031702_002.pdf
  data/419M60400000005/419M60400000005_20201228_502M60400000013/pict/H19F30301000005_2102031702_003.pdf
  data/419M60400000005/419M60400000005_20201228_502M60400000013/pict/H19F30301000005_2102031702_004.pdf
Labels: ñ@óﬂAPI

419M60400000005 text化
  data/419M60400000005/419M60400000005_20161001_000000000000000/419M60400000005_20161001_000000000000000.txt
  data/419M60400000005/419M60400000005_20190701_501M60400000003/419M60400000005_20190701_501M60400000003.txt
  data/419M60400000005/419M60400000005_20201228_502M60400000013/419M60400000005_20201228_502M60400000013.txt
Labels: ñ@óﬂAPI

419M60400000005_20161001_000000000000000
  docs/419M60400000005/index.txt
Labels: none

419M60400000005_20190701_501M60400000003
  docs/419M60400000005/index.txt
Labels: none

419M60400000005_20201228_502M60400000013
  docs/419M60400000005/index.txt
Labels: none

Update index.md
  docs/index.md
Labels: none

Update README.md
  README.md
Labels: README

Update README.md
  README.md
Labels: README

332AC0000000166_20150801_000000000000000
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20160401_426AC0000000069
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20170414_429AC0000000015
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20170710_429AC0000000015
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20180517_428AC0000000042
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20181001_429AC0000000015
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20190914_501AC0000000037
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20200401_429AC0000000015
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20210701_503AC0000000053
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20220617_504AC0000000068
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20230607_505AC0000000044
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20230607_505AC0000000047
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20230617_505AC0000000044
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20231206_505AC0000000044
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20240401_505AC0000000044
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20250606_505AC0000000044
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20250616_504AC0000000068
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_20260606_505AC0000000047
  docs/332AC0000000166/index.txt
Labels: none

332AC0000000166_21171231_409AC0000000080
  docs/332AC0000000166/index.txt
Labels: none

330AC1000000186_20150801_000000000000000
  docs/330AC1000000186/index.txt
Labels: none

330AC1000000186_20230607_505AC0000000044
  docs/330AC1000000186/index.txt
Labels: none
